USE [Ceser]
GO
/****** Object:  Table [dbo].[PERSONA]    Script Date: 07/01/2013 19:16:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PERSONA](
	[ID_PERSONA] [int] IDENTITY(1,1) NOT NULL,
	[APELLIDO_PATERNO] [varchar](50) NOT NULL,
	[APELLIDO_MATERNO] [varchar](50) NOT NULL,
	[NOMBRES] [varchar](50) NOT NULL,
	[DIRECCION] [varchar](70) NOT NULL,
	[DNI] [char](8) NOT NULL,
	[E_MAIL] [varchar](50) NULL,
	[FECHA_NACIMIENTO] [datetime] NOT NULL,
	[SEXO] [tinyint] NOT NULL,
	[ESTADO] [tinyint] NOT NULL,
 CONSTRAINT [PK_PERSONA] PRIMARY KEY CLUSTERED 
(
	[ID_PERSONA] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
 CONSTRAINT [UNI_DNI_UNICO] UNIQUE NONCLUSTERED 
(
	[DNI] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[PERSONA] ON
INSERT [dbo].[PERSONA] ([ID_PERSONA], [APELLIDO_PATERNO], [APELLIDO_MATERNO], [NOMBRES], [DIRECCION], [DNI], [E_MAIL], [FECHA_NACIMIENTO], [SEXO], [ESTADO]) VALUES (10, N'VASQUEZ', N'CHUQUIHUANGA', N'MIGUEL ANGEL', N'URB.JORGE CHAVEZ MZ B LOTE 02', N'44458155', N'MIAN_16_1@HOTMAIL.COM', CAST(0x00007E4600000000 AS DateTime), 0, 0)
INSERT [dbo].[PERSONA] ([ID_PERSONA], [APELLIDO_PATERNO], [APELLIDO_MATERNO], [NOMBRES], [DIRECCION], [DNI], [E_MAIL], [FECHA_NACIMIENTO], [SEXO], [ESTADO]) VALUES (137, N'SANCHEZ', N'PORTOCARRERO', N'KARINAA', N'LAS ALMENDRAS 5454', N'69666666', N'', CAST(0x0000A1E800C53549 AS DateTime), 0, 1)
INSERT [dbo].[PERSONA] ([ID_PERSONA], [APELLIDO_PATERNO], [APELLIDO_MATERNO], [NOMBRES], [DIRECCION], [DNI], [E_MAIL], [FECHA_NACIMIENTO], [SEXO], [ESTADO]) VALUES (138, N'SANDOVAL', N'SANDOVAL', N'ALEXANDER', N'URB. LOS TITANES 542', N'96858744', N'', CAST(0x0000A1E800C53549 AS DateTime), 0, 1)
SET IDENTITY_INSERT [dbo].[PERSONA] OFF
/****** Object:  Table [dbo].[MARCA]    Script Date: 07/01/2013 19:16:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MARCA](
	[ID_MARCA] [char](5) NOT NULL,
	[MARCA] [varchar](50) NULL,
	[ESTADO] [tinyint] NULL,
 CONSTRAINT [PK_MARCA] PRIMARY KEY CLUSTERED 
(
	[ID_MARCA] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
 CONSTRAINT [UNI_MARCA_UNICA] UNIQUE NONCLUSTERED 
(
	[MARCA] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[MARCA] ([ID_MARCA], [MARCA], [ESTADO]) VALUES (N'MR-01', N'SONY', 1)
INSERT [dbo].[MARCA] ([ID_MARCA], [MARCA], [ESTADO]) VALUES (N'MR-02', N'LG', 1)
INSERT [dbo].[MARCA] ([ID_MARCA], [MARCA], [ESTADO]) VALUES (N'MR-03', N'SAMSUNG', 1)
/****** Object:  Table [dbo].[ESTADO_EQUIPO]    Script Date: 07/01/2013 19:16:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ESTADO_EQUIPO](
	[ID_ESTADO_EQUIPO] [char](5) NOT NULL,
	[ESTADO_EQUIPO] [varchar](50) NULL,
 CONSTRAINT [PK_ESTADO_EQUIPO] PRIMARY KEY CLUSTERED 
(
	[ID_ESTADO_EQUIPO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[ESTADO_EQUIPO] ([ID_ESTADO_EQUIPO], [ESTADO_EQUIPO]) VALUES (N'ES-01', N'EQUIPO SIN REPARAR')
INSERT [dbo].[ESTADO_EQUIPO] ([ID_ESTADO_EQUIPO], [ESTADO_EQUIPO]) VALUES (N'ES-02', N'EQUIPO REPARADO')
/****** Object:  Table [dbo].[TIPO_GARANTIA]    Script Date: 07/01/2013 19:16:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TIPO_GARANTIA](
	[ID_TIPO_GARANTIA] [char](5) NOT NULL,
	[TIPO_GARANTIA] [varchar](50) NULL,
	[ESTADO] [tinyint] NULL,
 CONSTRAINT [PK_TIPO_GARANTIA] PRIMARY KEY CLUSTERED 
(
	[ID_TIPO_GARANTIA] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[TIPO_GARANTIA] ([ID_TIPO_GARANTIA], [TIPO_GARANTIA], [ESTADO]) VALUES (N'GR-01', N'EN GARANTIA', 1)
INSERT [dbo].[TIPO_GARANTIA] ([ID_TIPO_GARANTIA], [TIPO_GARANTIA], [ESTADO]) VALUES (N'GR-02', N'FUERA DE GARANTIA', 1)
/****** Object:  Table [dbo].[TIPO_EQUIPO]    Script Date: 07/01/2013 19:16:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TIPO_EQUIPO](
	[ID_TIPO_EQUIPO] [char](5) NOT NULL,
	[TIPO] [varchar](50) NULL,
	[ESTADO] [tinyint] NULL,
 CONSTRAINT [PK_TIPO_EQUIPO] PRIMARY KEY CLUSTERED 
(
	[ID_TIPO_EQUIPO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[TIPO_EQUIPO] ([ID_TIPO_EQUIPO], [TIPO], [ESTADO]) VALUES (N'TE-01', N'LAPTOP', 1)
INSERT [dbo].[TIPO_EQUIPO] ([ID_TIPO_EQUIPO], [TIPO], [ESTADO]) VALUES (N'TE-02', N'EQUIPO DE SONIDO', 1)
INSERT [dbo].[TIPO_EQUIPO] ([ID_TIPO_EQUIPO], [TIPO], [ESTADO]) VALUES (N'TE-03', N'TELEVISOR', 1)
/****** Object:  Table [dbo].[CARGO]    Script Date: 07/01/2013 19:16:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CARGO](
	[ID_CARGO] [char](5) NOT NULL,
	[CARGO] [varchar](50) NULL,
	[ESTADO] [tinyint] NULL,
 CONSTRAINT [PK_CARGO] PRIMARY KEY CLUSTERED 
(
	[ID_CARGO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
 CONSTRAINT [UNI_CARGO_UNICO] UNIQUE NONCLUSTERED 
(
	[CARGO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[CARGO] ([ID_CARGO], [CARGO], [ESTADO]) VALUES (N'CR-01', N'GERENTE', 1)
INSERT [dbo].[CARGO] ([ID_CARGO], [CARGO], [ESTADO]) VALUES (N'CR-02', N'ADMINSTRADOR(A)', 1)
INSERT [dbo].[CARGO] ([ID_CARGO], [CARGO], [ESTADO]) VALUES (N'CR-03', N'TECNICO ELECTRONICA', 1)
/****** Object:  Table [dbo].[AREA]    Script Date: 07/01/2013 19:16:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AREA](
	[ID_AREA] [char](5) NOT NULL,
	[AREA] [varchar](50) NULL,
	[ESTADO] [tinyint] NULL,
 CONSTRAINT [PK_AREA] PRIMARY KEY CLUSTERED 
(
	[ID_AREA] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
 CONSTRAINT [UNI_AREA_UNICA] UNIQUE NONCLUSTERED 
(
	[AREA] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[AREA] ([ID_AREA], [AREA], [ESTADO]) VALUES (N'AR-01', N'COMPUTACION Y SISTEMAS', 1)
INSERT [dbo].[AREA] ([ID_AREA], [AREA], [ESTADO]) VALUES (N'AR-02', N'ELECTRONICA', 1)
INSERT [dbo].[AREA] ([ID_AREA], [AREA], [ESTADO]) VALUES (N'AR-03', N'LINEA BLANCA', 1)
/****** Object:  StoredProcedure [dbo].[SP_INSERTA_CARGO]    Script Date: 07/01/2013 19:16:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_INSERTA_CARGO]
(
--PARAMETRO SALIDA

@ID_CARGO AS CHAR(5)OUT,
@S AS CHAR(2)OUT,

--PARAMETROS DE CARGO
@CARGO AS VARCHAR(50)
)

AS
BEGIN TRANSACTION
				DECLARE @COD AS INT
				IF (SELECT MAX(CONVERT(INT,SUBSTRING(ID_CARGO,4,2))) FROM CARGO ) IS NOT NULL
					BEGIN 
						SELECT @COD=MAX(CONVERT(INT,SUBSTRING(ID_CARGO,4,2))) FROM CARGO  
						SELECT @ID_CARGO='CR-'+ REPLICATE('0',2-DATALENGTH(CONVERT(VARCHAR,@COD +1))) + CONVERT(VARCHAR,@COD +1)
					END
				ELSE
					BEGIN
						SELECT @ID_CARGO='CR-'+ REPLICATE('0',1)+'1'
					END
				IF(SELECT COUNT (*) FROM CARGO WHERE CARGO =RTRIM (@CARGO) )=0
					BEGIN
						INSERT INTO CARGO VALUES(@ID_CARGO,@CARGO,1)
						SELECT @S='SI'
						SELECT @ID_CARGO
					 END
				ELSE
					BEGIN
						SELECT @S='NO'
						SELECT @ID_CARGO='NULL'
					END
				
								
IF @@ERROR=0
	BEGIN
		COMMIT TRANSACTION
	END
ELSE
	BEGIN
		ROLLBACK TRANSACTION
	END
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERTA_AREA]    Script Date: 07/01/2013 19:16:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_INSERTA_AREA]
(
--PARAMETRO SALIDA

@ID_AREA AS CHAR(5)OUT,
@S AS CHAR(2)OUT,

--PARAMETROS DE AREA
@AREA AS VARCHAR(50)
)

AS
BEGIN TRANSACTION
				DECLARE @COD AS INT
				IF (SELECT MAX(CONVERT(INT,SUBSTRING(ID_AREA,4,2))) FROM AREA ) IS NOT NULL
					BEGIN 
						SELECT @COD=MAX(CONVERT(INT,SUBSTRING(ID_AREA,4,2))) FROM AREA  
						SELECT @ID_AREA='AR-'+ REPLICATE('0',2-DATALENGTH(CONVERT(VARCHAR,@COD +1))) + CONVERT(VARCHAR,@COD +1)
					END
				ELSE
					BEGIN
						SELECT @ID_AREA='AR-'+ REPLICATE('0',1)+'1'
					END
				IF(SELECT COUNT (*) FROM AREA WHERE AREA =RTRIM (@AREA) )=0
					BEGIN
						INSERT INTO AREA VALUES(@ID_AREA,@AREA,1)
						SELECT @S='SI'
						SELECT @ID_AREA
					 END
				ELSE
					BEGIN
						SELECT @S='NO'
						SELECT @ID_AREA='NULL'
					END
				
								
IF @@ERROR=0
	BEGIN
		COMMIT TRANSACTION
	END
ELSE
	BEGIN
		ROLLBACK TRANSACTION
	END
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERTA_MARCA]    Script Date: 07/01/2013 19:16:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_INSERTA_MARCA]
(
--PARAMETRO SALIDA

@ID_MARCA AS CHAR(5)OUT,
@S AS CHAR(2)OUT,

--PARAMETROS DE MARCA
@MARCA AS VARCHAR(50)
)

AS
BEGIN TRANSACTION
				DECLARE @COD AS INT
				IF (SELECT MAX(CONVERT(INT,SUBSTRING(ID_MARCA,4,2))) FROM MARCA ) IS NOT NULL
					BEGIN 
						SELECT @COD=MAX(CONVERT(INT,SUBSTRING(ID_MARCA,4,2))) FROM MARCA  
						SELECT @ID_MARCA='MR-'+ REPLICATE('0',2-DATALENGTH(CONVERT(VARCHAR,@COD +1))) + CONVERT(VARCHAR,@COD +1)
					END
				ELSE
					BEGIN
						SELECT @ID_MARCA='MR-'+ REPLICATE('0',1)+'1'
					END
				IF(SELECT COUNT (*) FROM MARCA WHERE MARCA =RTRIM (@MARCA) )=0
					BEGIN
						INSERT INTO MARCA VALUES(@ID_MARCA,@MARCA,1)
						SELECT @S='SI'
						SELECT @ID_MARCA
					 END
				ELSE
					BEGIN
						SELECT @S='NO'
						SELECT @ID_MARCA='NULL'
					END
				
								
IF @@ERROR=0
	BEGIN
		COMMIT TRANSACTION
	END
ELSE
	BEGIN
		ROLLBACK TRANSACTION
	END
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERTA_PERSONA]    Script Date: 07/01/2013 19:16:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_INSERTA_PERSONA]
(
@APE_PATERNO AS VARCHAR(50),
@APE_MATERNO AS VARCHAR(50),
@NOMBRES AS VARCHAR(50),
@DIRECCION AS VARCHAR(70),
@DNI AS CHAR(8),
@E_MAIL AS VARCHAR(50),
@FECHA_NACIMIENTO AS DATETIME,
@SEXO AS INT,

@SW AS CHAR(2)OUT
)
AS
BEGIN TRANSACTION T_INSERTA_PERSONA
	BEGIN TRY
		INSERT INTO PERSONA (APELLIDO_PATERNO ,APELLIDO_MATERNO ,NOMBRES ,DIRECCION ,DNI ,E_MAIL ,FECHA_NACIMIENTO ,SEXO ,ESTADO )
		VALUES(@APE_PATERNO,@APE_MATERNO,@NOMBRES,@DIRECCION,@DNI,@E_MAIL,@FECHA_NACIMIENTO,@SEXO,1)
		SELECT @SW='SI'
		COMMIT TRANSACTION
	END TRY
	BEGIN CATCH
		SELECT @SW='NO'
		ROLLBACK TRANSACTION
	END CATCH
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERTA_TIPO_EQUIPO]    Script Date: 07/01/2013 19:16:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_INSERTA_TIPO_EQUIPO]
(
--PARAMETRO SALIDA

@ID_TIPO_EQUIPO AS CHAR(5)OUT,
@S AS CHAR(2)OUT,

--PARAMETROS DE TIPO_EQUIPO
@TIPO_EQUIPO AS VARCHAR(50)
)

AS
BEGIN TRANSACTION
				DECLARE @COD AS INT
				IF (SELECT MAX(CONVERT(INT,SUBSTRING(ID_TIPO_EQUIPO ,4,2))) FROM TIPO_EQUIPO  ) IS NOT NULL
					BEGIN 
						SELECT @COD=MAX(CONVERT(INT,SUBSTRING(ID_TIPO_EQUIPO ,4,2))) FROM TIPO_EQUIPO 
						SELECT @ID_TIPO_EQUIPO ='TE-'+ REPLICATE('0',2-DATALENGTH(CONVERT(VARCHAR,@COD +1))) + CONVERT(VARCHAR,@COD +1)
					END
				ELSE
					BEGIN
						SELECT @ID_TIPO_EQUIPO='TE-'+ REPLICATE('0',1)+'1'
					END
				IF(SELECT COUNT (*) FROM TIPO_EQUIPO  WHERE TIPO  =RTRIM (@TIPO_EQUIPO ) )=0
					BEGIN
						INSERT INTO TIPO_EQUIPO  VALUES(@ID_TIPO_EQUIPO ,@TIPO_EQUIPO,1)
						SELECT @S='SI'
						SELECT @ID_TIPO_EQUIPO 
					 END
				ELSE
					BEGIN
						SELECT @S='NO'
						SELECT @ID_TIPO_EQUIPO ='NULL'
					END
				
								
IF @@ERROR=0
	BEGIN
		COMMIT TRANSACTION
	END
ELSE
	BEGIN
		ROLLBACK TRANSACTION
	END
GO
/****** Object:  Table [dbo].[EMPLEADO]    Script Date: 07/01/2013 19:16:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EMPLEADO](
	[ID_EMPLEADO] [char](10) NOT NULL,
	[NICK] [varchar](50) NULL,
	[PASSWORD] [varchar](50) NULL,
	[ID_CARGO] [char](5) NULL,
	[ID_AREA] [char](5) NULL,
	[ID_PERSONA] [int] NULL,
 CONSTRAINT [PK_EMPLEADO] PRIMARY KEY CLUSTERED 
(
	[ID_EMPLEADO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[EMPLEADO] ([ID_EMPLEADO], [NICK], [PASSWORD], [ID_CARGO], [ID_AREA], [ID_PERSONA]) VALUES (N'EMP-000001', N'MVASQUEZ24', N'³¼§¹·»«À', N'CR-01', N'AR-01', 10)
INSERT [dbo].[EMPLEADO] ([ID_EMPLEADO], [NICK], [PASSWORD], [ID_CARGO], [ID_AREA], [ID_PERSONA]) VALUES (N'EMP-000002', N'ERICKA', N'³¯¼§¹', N'CR-04', N'AR-01', 143)
INSERT [dbo].[EMPLEADO] ([ID_EMPLEADO], [NICK], [PASSWORD], [ID_CARGO], [ID_AREA], [ID_PERSONA]) VALUES (N'EMP-000003', N'MELANI', N'³«²§´¯', N'CR-08', N'AR-05', 145)
/****** Object:  Table [dbo].[CLIENTE]    Script Date: 07/01/2013 19:16:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CLIENTE](
	[ID_CLIENTE] [char](10) NOT NULL,
	[TELEFONO] [varchar](12) NULL,
	[CELULAR] [varchar](12) NULL,
	[RUC] [varchar](11) NULL,
	[ID_PERSONA] [int] NOT NULL,
 CONSTRAINT [PK_CLIENTE] PRIMARY KEY CLUSTERED 
(
	[ID_CLIENTE] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[CLIENTE] ([ID_CLIENTE], [TELEFONO], [CELULAR], [RUC], [ID_PERSONA]) VALUES (N'CLI-000001', N'', N'969843272', N'', 137)
INSERT [dbo].[CLIENTE] ([ID_CLIENTE], [TELEFONO], [CELULAR], [RUC], [ID_PERSONA]) VALUES (N'CLI-000002', N'', N'969843272', N'', 138)
INSERT [dbo].[CLIENTE] ([ID_CLIENTE], [TELEFONO], [CELULAR], [RUC], [ID_PERSONA]) VALUES (N'CLI-000003', N'', N'969843270', N'', 139)
/****** Object:  Table [dbo].[ORDENES]    Script Date: 07/01/2013 19:16:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ORDENES](
	[ID_ORDEN] [char](10) NOT NULL,
	[ID_CLIENTE] [char](10) NULL,
	[FECHA_INGRESO_EQUIPO] [datetime] NULL,
	[FECHA_SALIDA_EQUIPO] [datetime] NULL,
	[FALLA_REPORTADA_CLIENTE] [varchar](200) NULL,
	[EQUIPO] [varchar](100) NULL,
	[MODELO_EQUIPO] [varchar](50) NULL,
	[SERIE_EQUIPO] [varchar](20) NULL,
	[ID_TIPO_EQUIPO] [char](5) NULL,
	[ID_MARCA] [char](5) NULL,
	[OBSERVACIONES_EQUIPO] [varchar](300) NULL,
	[ACCESORIOS_ADICIONALES_EQUIPO] [varchar](300) NULL,
	[ID_TIPO_GARANTIA] [char](5) NULL,
	[ID_ESTADO_EQUIPO] [char](5) NULL,
	[ID_EMPLEADO] [char](10) NULL,
	[ESTADO] [tinyint] NULL,
	[COSTO_REPARACION] [money] NULL,
	[ESTADO_ORDEN] [varchar](50) NULL,
 CONSTRAINT [PK_ORDENES] PRIMARY KEY CLUSTERED 
(
	[ID_ORDEN] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  StoredProcedure [dbo].[SP_OBTENER_EMPLEADO]    Script Date: 07/01/2013 19:16:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE  [dbo].[SP_OBTENER_EMPLEADO](@ID_EMPLEADO AS CHAR(10))
AS
BEGIN TRANSACTION
			   SELECT	E.ID_EMPLEADO ,
			   P.APELLIDO_PATERNO,P.APELLIDO_MATERNO,
			   P.NOMBRES,P.DIRECCION,P.DNI,P.E_MAIL,
			   P.FECHA_NACIMIENTO,P.SEXO ,P.ESTADO ,
			   E.NICK,E.[PASSWORD]  , 
			   E.ID_CARGO ,E.ID_AREA 
			   
			   FROM EMPLEADO  E JOIN PERSONA P
			   ON E.ID_PERSONA=P.ID_PERSONA
			   WHERE E.ID_EMPLEADO =@ID_EMPLEADO 
			   
IF @@ERROR =0
	BEGIN
		COMMIT TRANSACTION
	END
ELSE
	BEGIN
		ROLLBACK TRANSACTION
	END
GO
/****** Object:  StoredProcedure [dbo].[SP_OBTENER_CLIENTE]    Script Date: 07/01/2013 19:16:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE  [dbo].[SP_OBTENER_CLIENTE](@ID_CLIENTE AS CHAR(10))
AS
BEGIN TRANSACTION
			   SELECT	C.ID_CLIENTE ,
			   P.APELLIDO_PATERNO,P.APELLIDO_MATERNO,
			   P.NOMBRES,P.DIRECCION,P.DNI,P.E_MAIL,
			   P.FECHA_NACIMIENTO,P.SEXO ,P.ESTADO ,
			   C.TELEFONO ,C.CELULAR ,C.RUC  
			   
			   FROM CLIENTE C JOIN PERSONA P
			   ON C.ID_PERSONA=P.ID_PERSONA
			   WHERE C.ID_CLIENTE =@ID_CLIENTE 
			   
IF @@ERROR =0
	BEGIN
		COMMIT TRANSACTION
	END
ELSE
	BEGIN
		ROLLBACK TRANSACTION
	END
GO
/****** Object:  StoredProcedure [dbo].[SP_LISTAR_EMPLEADOS_TECNICOS]    Script Date: 07/01/2013 19:16:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_LISTAR_EMPLEADOS_TECNICOS]
AS
BEGIN TRANSACTION T_LISTAR_EMPLEADOS_TECNICOS
BEGIN TRY
	SELECT     dbo.EMPLEADO.ID_EMPLEADO, 
                      dbo.PERSONA.APELLIDO_PATERNO + ' ' + dbo.PERSONA.APELLIDO_MATERNO + '  ' + dbo.PERSONA.NOMBRES AS 'EMPLEADO'
FROM         dbo.EMPLEADO INNER JOIN
                      dbo.CARGO ON dbo.EMPLEADO.ID_CARGO = dbo.CARGO.ID_CARGO INNER JOIN
                      dbo.AREA ON dbo.EMPLEADO.ID_AREA = dbo.AREA.ID_AREA INNER JOIN
                      dbo.PERSONA ON dbo.EMPLEADO.ID_PERSONA = dbo.PERSONA.ID_PERSONA
WHERE     (NOT (dbo.AREA.ID_AREA = 'AR-05'))
COMMIT TRANSACTION
END TRY
BEGIN CATCH
ROLLBACK TRANSACTION
END CATCH
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERTA_EMPLEADO]    Script Date: 07/01/2013 19:16:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_INSERTA_EMPLEADO]
(
--PARAMETRO SALIDA

@ID_EMPLEADO AS CHAR(10)OUT,
@S AS CHAR(2)OUT,

--PARAMETROS DE PERSONA

@APE_PATERNO AS VARCHAR(50),
@APE_MATERNO AS VARCHAR(50),
@NOMBRES AS VARCHAR(50),
@DIRECCION AS VARCHAR(70),
@DNI AS CHAR(8),
@E_MAIL AS VARCHAR(50),
@FECHA_NACIMIENTO AS DATETIME,
@SEXO AS INTEGER,



--PARAMETROS DE EMPLEADO

@NICK AS VARCHAR(50),
@PASSWORD AS VARCHAR(50),
@ID_CARGO AS CHAR(5),
@ID_AREA AS CHAR(5)

)
AS
BEGIN TRANSACTION
	DECLARE @SW AS CHAR(2)
	EXEC dbo.SP_INSERTA_PERSONA @APE_PATERNO,@APE_MATERNO,@NOMBRES,
								@DIRECCION,@DNI,@E_MAIL,@FECHA_NACIMIENTO,
								@SEXO,@SW OUT
		SET @S=@SW
		IF @S='SI'
			BEGIN
				DECLARE @COD AS INT
				IF (SELECT MAX(CONVERT(INT,SUBSTRING(ID_EMPLEADO,5,6))) FROM EMPLEADO ) IS NOT NULL
					BEGIN 
						SELECT @COD=MAX(CONVERT(INT,SUBSTRING(ID_EMPLEADO,5,6))) FROM EMPLEADO  
						SELECT @ID_EMPLEADO='EMP-'+ REPLICATE('0',6-DATALENGTH(CONVERT(VARCHAR,@COD +1))) + CONVERT(VARCHAR,@COD +1)
					END
				ELSE
						SELECT @ID_EMPLEADO='EMP-'+ REPLICATE('0',5)+'1'
											 INSERT INTO EMPLEADO VALUES(@ID_EMPLEADO,@NICK,@PASSWORD ,
											 @ID_CARGO ,@ID_AREA ,
											 (SELECT ID_PERSONA FROM PERSONA WHERE DNI=@DNI))
											 
				SELECT @S='SI'
				SELECT @ID_EMPLEADO
			END
			
		ELSE
				SELECT @S='NO'
IF @@ERROR=0
	BEGIN
		COMMIT TRANSACTION
	END
ELSE
	BEGIN
		ROLLBACK TRANSACTION
	END
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERTA_CLIENTE]    Script Date: 07/01/2013 19:16:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_INSERTA_CLIENTE]
(
--PARAMETRO SALIDA

@ID_CLIENTE AS CHAR(10)OUT,
@S AS CHAR(2)OUT,

--PARAMETROS DE PERSONA

@APE_PATERNO AS VARCHAR(50),
@APE_MATERNO AS VARCHAR(50),
@NOMBRES AS VARCHAR(50),
@DIRECCION AS VARCHAR(70),
@DNI AS CHAR(8),
@E_MAIL AS VARCHAR(50),
@FECHA_NACIMIENTO AS DATETIME,
@SEXO AS INTEGER,

--PARAMETROS DE CLIENTE

@TELEFONO AS VARCHAR(12),
@CELULAR AS VARCHAR(12),
@RUC AS VARCHAR(11)

)
AS

BEGIN TRANSACTION T_INSERTA_CLIENTE
	BEGIN TRY
		DECLARE @SW AS CHAR(2)	
		EXEC SP_INSERTA_PERSONA @APE_PATERNO,@APE_MATERNO,@NOMBRES,
								@DIRECCION,@DNI,@E_MAIL,@FECHA_NACIMIENTO,
								@SEXO,@SW OUT
			SET @S=@SW
	
			IF @S='SI'
				BEGIN
					DECLARE @COD AS INT
						IF (SELECT MAX(CONVERT(INT,SUBSTRING(ID_CLIENTE ,5,6))) FROM CLIENTE ) IS NOT NULL
							BEGIN 
								SELECT @COD=MAX(CONVERT(INT,SUBSTRING(ID_CLIENTE,5,6))) FROM CLIENTE  
								SELECT @ID_CLIENTE ='CLI-'+ REPLICATE('0',6-DATALENGTH(CONVERT(VARCHAR,@COD +1))) + CONVERT(VARCHAR,@COD +1)
							END
						ELSE
							SELECT @ID_CLIENTE='CLI-'+ REPLICATE('0',5)+'1'
							INSERT INTO CLIENTE  VALUES(@ID_CLIENTE,@TELEFONO ,@CELULAR,@RUC,
														 (SELECT ID_PERSONA FROM PERSONA WHERE DNI=@DNI))
							SELECT @S='SI'
				END
			ELSE
				SELECT @S='NO'
		COMMIT TRANSACTION
				
	END TRY
	BEGIN CATCH
		SELECT @S='NO'
		ROLLBACK TRANSACTION
	END CATCH
GO
/****** Object:  StoredProcedure [dbo].[SP_FILTRA_EMPLEADO]    Script Date: 07/01/2013 19:16:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_FILTRA_EMPLEADO](@APE_PATERNO AS VARCHAR(50))
AS
BEGIN TRANSACTION T_FILTRA_EMPLEADO
BEGIN TRY
	SELECT     dbo.EMPLEADO.ID_EMPLEADO, dbo.PERSONA.APELLIDO_PATERNO, dbo.PERSONA.APELLIDO_MATERNO, dbo.PERSONA.NOMBRES, dbo.CARGO.CARGO, 
                      dbo.AREA.AREA
FROM         dbo.EMPLEADO INNER JOIN
                      dbo.CARGO ON dbo.EMPLEADO.ID_CARGO = dbo.CARGO.ID_CARGO INNER JOIN
                      dbo.AREA ON dbo.EMPLEADO.ID_AREA = dbo.AREA.ID_AREA INNER JOIN
                      dbo.PERSONA ON dbo.EMPLEADO.ID_PERSONA = dbo.PERSONA.ID_PERSONA 
                     WHERE dbo.PERSONA .APELLIDO_PATERNO LIKE '%'+@APE_PATERNO+'%'

COMMIT TRANSACTION
END TRY
BEGIN CATCH
	ROLLBACK TRANSACTION
END CATCH
GO
/****** Object:  StoredProcedure [dbo].[SP_ACTUALIZA_EMPLEADO]    Script Date: 07/01/2013 19:16:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ACTUALIZA_EMPLEADO]
(
@S AS CHAR(2)OUT,
@ID_EMPLEADO AS CHAR(10),

--PARAMETROS PERSONA

@APE_PATERNO AS VARCHAR(50),
@APE_MATERNO AS VARCHAR(50),
@NOMBRES AS VARCHAR(50),
@DIRECCION AS VARCHAR(70),
@DNI AS CHAR(8),
@E_MAIL AS VARCHAR(50),
@FECHA_NACIMIENTO AS DATETIME,
@SEXO AS INTEGER,
@ESTADO AS INTEGER,


--PARAMETROS EMPLEADO
@NICK AS VARCHAR(50),
@PASSWORD AS VARCHAR(50),
@ID_CARGO AS CHAR(5),
@ID_AREA AS CHAR(5)
)
AS
BEGIN TRANSACTION T_ACTUALIZA_EMPLEADO

BEGIN TRY
   						   UPDATE PERSONA SET
						   APELLIDO_PATERNO=@APE_PATERNO,
						   APELLIDO_MATERNO=@APE_MATERNO,
						   NOMBRES=@NOMBRES,
						   DIRECCION=@DIRECCION,
						   DNI=@DNI,
						   E_MAIL=@E_MAIL,
						   FECHA_NACIMIENTO=@FECHA_NACIMIENTO,
						   SEXO=@SEXO,
						   ESTADO =@ESTADO
				WHERE ID_PERSONA=(SELECT ID_PERSONA FROM EMPLEADO WHERE ID_EMPLEADO=@ID_EMPLEADO)
				
				UPDATE EMPLEADO SET
							NICK  =@NICK ,[PASSWORD] =@PASSWORD ,
							ID_CARGO =@ID_CARGO ,ID_AREA =@ID_AREA 
						    WHERE ID_EMPLEADO=@ID_EMPLEADO 
	SELECT @S ='SI'	
	COMMIT TRANSACTION
END TRY
BEGIN CATCH
	SELECT @S ='NO'	
	ROLLBACK TRANSACTION
END CATCH
GO
/****** Object:  StoredProcedure [dbo].[SP_ACTUALIZA_CLIENTE]    Script Date: 07/01/2013 19:16:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ACTUALIZA_CLIENTE]
(
@S AS CHAR(2)OUT,
@ID_CLIENTE AS CHAR(10),

--PARAMETROS PERSONA

@APE_PATERNO AS VARCHAR(50),
@APE_MATERNO AS VARCHAR(50),
@NOMBRES AS VARCHAR(50),
@DIRECCION AS VARCHAR(70),
@DNI AS CHAR(8),
@E_MAIL AS VARCHAR(50),
@FECHA_NACIMIENTO AS DATETIME,
@SEXO AS INTEGER,
@ESTADO AS INTEGER,


--PARAMETROS CLIENTE
@TELEFONO AS VARCHAR(12),
@CELULAR AS VARCHAR(12),
@RUC AS VARCHAR(11)

)
AS
BEGIN TRANSACTION  TP_ACTUALIZA_CLIENTE
	BEGIN TRY
					UPDATE PERSONA SET
						   APELLIDO_PATERNO=@APE_PATERNO,
						   APELLIDO_MATERNO=@APE_MATERNO,
						   NOMBRES=@NOMBRES,
						   DIRECCION=@DIRECCION,
						   DNI=@DNI,
						   E_MAIL=@E_MAIL,
						   FECHA_NACIMIENTO=@FECHA_NACIMIENTO,
						   SEXO=@SEXO,
						   ESTADO =@ESTADO
				     WHERE ID_PERSONA=(SELECT ID_PERSONA FROM CLIENTE WHERE ID_CLIENTE=@ID_CLIENTE)
				
						   UPDATE CLIENTE  SET TELEFONO =@TELEFONO,CELULAR=@CELULAR ,RUC =@RUC
						   WHERE ID_CLIENTE=@ID_CLIENTE
						
		SELECT @S ='SI'
	COMMIT TRANSACTION
	END TRY
	BEGIN CATCH
		SELECT @S ='NO'
		ROLLBACK TRANSACTION
	END CATCH
GO
/****** Object:  UserDefinedFunction [dbo].[VERIFICAR_DNI_RUC]    Script Date: 07/01/2013 19:17:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--SELECT * FROM CLIENTE 

--SELECT * FROM PERSONA 

CREATE FUNCTION [dbo].[VERIFICAR_DNI_RUC](@ID_PERSONA AS INT)
RETURNS CHAR(2)

BEGIN
	DECLARE @S AS CHAR(2)
	DECLARE @DNI AS CHAR(8)=RTRIM((SELECT DNI FROM PERSONA WHERE ID_PERSONA=@ID_PERSONA))
	DECLARE @RUC AS VARCHAR(11)=RTRIM((SELECT RUC FROM CLIENTE WHERE ID_PERSONA=@ID_PERSONA) )
	
IF  NOT(@DNI)=''  AND NOT (@RUC)=''
	BEGIN
		IF RTRIM(@DNI)=RTRIM(SUBSTRING(@RUC,3,8))
		BEGIN
		SET @S=RTRIM('SI')
		END
		ELSE
		BEGIN
		SET @S=RTRIM('NO')
		END
	END
ELSE
	BEGIN
	
	
	IF RTRIM(@RUC) IS NULL OR RTRIM(@RUC) = ''
		BEGIN	
			SET	@S=RTRIM('SI')
		END
	ELSE
		BEGIN
			IF RTRIM(@RUC) LIKE '[1-2][0][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]'AND SUBSTRING(RTRIM(@RUC),3,8)=(RTRIM(@DNI))
				BEGIN
					SET	@S=RTRIM('SI')
				END
			ELSE
				BEGIN
					SET @S=RTRIM('NO')
				END
		END
	END
	RETURN @S
END	

--ALTER TABLE CLIENTE 
--ADD CONSTRAINT CHK_VERIFICAR_DNI_RUC_CLIENTE CHECK
--(DBO.VERIFICAR_DNI_RUC(ID_PERSONA)='SI')

----ALTER TABLE dbo.CLIENTE
----ADD CONSTRAINT CHK_CLIENTE_VALIDA_RUC CHECK
----(
----RUC LIKE '[1-2][0][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]'
----AND SUBSTRING(RUC,3,8)= (dbo.OBTENER_DNI_CLIENTE(ID_PERSONA))

--SELECT * FROM CLIENTE 

--SELECT * FROM PERSONA
GO
/****** Object:  View [dbo].[V_INGRESO_EQUIPO]    Script Date: 07/01/2013 19:17:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_INGRESO_EQUIPO]
AS
SELECT     dbo.ORDENES.ID_ORDEN, dbo.ORDENES.FECHA_INGRESO_EQUIPO, dbo.ORDENES.FALLA_REPORTADA_CLIENTE, dbo.ORDENES.EQUIPO, 
                      dbo.ORDENES.MODELO_EQUIPO, dbo.ORDENES.SERIE_EQUIPO, dbo.ORDENES.OBSERVACIONES_EQUIPO, dbo.ORDENES.ACCESORIOS_ADICIONALES_EQUIPO, 
                      dbo.PERSONA.APELLIDO_PATERNO + ' ' + dbo.PERSONA.APELLIDO_MATERNO + ' ' + dbo.PERSONA.NOMBRES AS CLIENTE, dbo.PERSONA.DNI, dbo.CLIENTE.RUC, 
                      dbo.TIPO_GARANTIA.TIPO_GARANTIA, dbo.TIPO_EQUIPO.TIPO, dbo.ORDENES.COSTO_REPARACION, dbo.MARCA.MARCA, dbo.PERSONA.DIRECCION, 
                      dbo.PERSONA.E_MAIL, dbo.ESTADO_EQUIPO.ESTADO_EQUIPO, dbo.ORDENES.ESTADO_ORDEN
FROM         dbo.ORDENES INNER JOIN
                      dbo.CLIENTE ON dbo.ORDENES.ID_CLIENTE = dbo.CLIENTE.ID_CLIENTE INNER JOIN
                      dbo.PERSONA ON dbo.CLIENTE.ID_PERSONA = dbo.PERSONA.ID_PERSONA INNER JOIN
                      dbo.MARCA ON dbo.ORDENES.ID_MARCA = dbo.MARCA.ID_MARCA INNER JOIN
                      dbo.TIPO_EQUIPO ON dbo.ORDENES.ID_TIPO_EQUIPO = dbo.TIPO_EQUIPO.ID_TIPO_EQUIPO INNER JOIN
                      dbo.TIPO_GARANTIA ON dbo.ORDENES.ID_TIPO_GARANTIA = dbo.TIPO_GARANTIA.ID_TIPO_GARANTIA INNER JOIN
                      dbo.ESTADO_EQUIPO ON dbo.ORDENES.ID_ESTADO_EQUIPO = dbo.ESTADO_EQUIPO.ID_ESTADO_EQUIPO
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[59] 4[4] 2[15] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "ORDENES"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 328
               Right = 312
            End
            DisplayFlags = 280
            TopColumn = 1
         End
         Begin Table = "CLIENTE"
            Begin Extent = 
               Top = 6
               Left = 350
               Bottom = 125
               Right = 548
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "PERSONA"
            Begin Extent = 
               Top = 126
               Left = 38
               Bottom = 247
               Right = 236
            End
            DisplayFlags = 280
            TopColumn = 3
         End
         Begin Table = "MARCA"
            Begin Extent = 
               Top = 126
               Left = 274
               Bottom = 230
               Right = 472
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "TIPO_EQUIPO"
            Begin Extent = 
               Top = 234
               Left = 274
               Bottom = 338
               Right = 472
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "TIPO_GARANTIA"
            Begin Extent = 
               Top = 246
               Left = 38
               Bottom = 350
               Right = 236
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "ESTADO_EQUIPO"
            Begin Extent = 
               Top = 6
               Left = 586
               Bottom = 95
               Right = 784
            End
            DisplayFl' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'V_INGRESO_EQUIPO'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N'ags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 18
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'V_INGRESO_EQUIPO'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'V_INGRESO_EQUIPO'
GO
/****** Object:  View [dbo].[V_INGRESO_EMPLEADO]    Script Date: 07/01/2013 19:17:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_INGRESO_EMPLEADO]
AS
SELECT     dbo.EMPLEADO.ID_EMPLEADO, dbo.ORDENES.ID_ORDEN, 
                      dbo.PERSONA.APELLIDO_PATERNO + ' ' + dbo.PERSONA.APELLIDO_MATERNO + ' ' + dbo.PERSONA.NOMBRES AS 'EMPLEADO', dbo.CARGO.CARGO
FROM         dbo.ORDENES INNER JOIN
                      dbo.EMPLEADO ON dbo.ORDENES.ID_EMPLEADO = dbo.EMPLEADO.ID_EMPLEADO INNER JOIN
                      dbo.CARGO ON dbo.EMPLEADO.ID_CARGO = dbo.CARGO.ID_CARGO INNER JOIN
                      dbo.PERSONA ON dbo.EMPLEADO.ID_PERSONA = dbo.PERSONA.ID_PERSONA
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[44] 4[24] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "ORDENES"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 217
               Right = 312
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "EMPLEADO"
            Begin Extent = 
               Top = 6
               Left = 350
               Bottom = 168
               Right = 548
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "CARGO"
            Begin Extent = 
               Top = 6
               Left = 586
               Bottom = 110
               Right = 784
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "PERSONA"
            Begin Extent = 
               Top = 114
               Left = 579
               Bottom = 271
               Right = 784
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   E' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'V_INGRESO_EMPLEADO'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N'nd
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'V_INGRESO_EMPLEADO'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'V_INGRESO_EMPLEADO'
GO
/****** Object:  View [dbo].[V_INGRESO_CLIENTE]    Script Date: 07/01/2013 19:17:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_INGRESO_CLIENTE]
AS
SELECT     dbo.PERSONA.APELLIDO_PATERNO + ' ' + dbo.PERSONA.APELLIDO_MATERNO + ' ' + dbo.PERSONA.NOMBRES AS 'CLIENTE', dbo.PERSONA.DNI, 
                      dbo.PERSONA.DIRECCION, dbo.PERSONA.E_MAIL, dbo.ORDENES.ID_ORDEN, dbo.ORDENES.FECHA_INGRESO_EQUIPO, 
                      dbo.ORDENES.FALLA_REPORTADA_CLIENTE, dbo.ORDENES.EQUIPO, dbo.ORDENES.MODELO_EQUIPO, dbo.ORDENES.SERIE_EQUIPO, 
                      dbo.TIPO_GARANTIA.TIPO_GARANTIA, dbo.TIPO_EQUIPO.TIPO, dbo.ESTADO_EQUIPO.ESTADO_EQUIPO, dbo.ORDENES.OBSERVACIONES_EQUIPO, 
                      dbo.ORDENES.ACCESORIOS_ADICIONALES_EQUIPO, dbo.ORDENES.ID_EMPLEADO, dbo.CLIENTE.TELEFONO, dbo.CLIENTE.CELULAR, dbo.CLIENTE.RUC, 
                      dbo.MARCA.MARCA, dbo.ORDENES.COSTO_REPARACION
FROM         dbo.PERSONA INNER JOIN
                      dbo.CLIENTE ON dbo.PERSONA.ID_PERSONA = dbo.CLIENTE.ID_PERSONA INNER JOIN
                      dbo.ORDENES ON dbo.CLIENTE.ID_CLIENTE = dbo.ORDENES.ID_CLIENTE INNER JOIN
                      dbo.MARCA ON dbo.ORDENES.ID_MARCA = dbo.MARCA.ID_MARCA INNER JOIN
                      dbo.TIPO_GARANTIA ON dbo.ORDENES.ID_TIPO_GARANTIA = dbo.TIPO_GARANTIA.ID_TIPO_GARANTIA INNER JOIN
                      dbo.TIPO_EQUIPO ON dbo.ORDENES.ID_TIPO_EQUIPO = dbo.TIPO_EQUIPO.ID_TIPO_EQUIPO INNER JOIN
                      dbo.ESTADO_EQUIPO ON dbo.ORDENES.ID_ESTADO_EQUIPO = dbo.ESTADO_EQUIPO.ID_ESTADO_EQUIPO
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[29] 4[4] 2[37] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "PERSONA"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 125
               Right = 236
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "CLIENTE"
            Begin Extent = 
               Top = 6
               Left = 274
               Bottom = 125
               Right = 472
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "ORDENES"
            Begin Extent = 
               Top = 6
               Left = 510
               Bottom = 125
               Right = 784
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "MARCA"
            Begin Extent = 
               Top = 126
               Left = 38
               Bottom = 230
               Right = 236
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "TIPO_GARANTIA"
            Begin Extent = 
               Top = 126
               Left = 274
               Bottom = 230
               Right = 472
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "TIPO_EQUIPO"
            Begin Extent = 
               Top = 126
               Left = 510
               Bottom = 230
               Right = 708
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "ESTADO_EQUIPO"
            Begin Extent = 
               Top = 234
               Left = 38
               Bottom = 323
               Right = 236
            End
            DisplayF' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'V_INGRESO_CLIENTE'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N'lags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 22
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'V_INGRESO_CLIENTE'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'V_INGRESO_CLIENTE'
GO
/****** Object:  StoredProcedure [dbo].[SP_OBTENER_ORDEN_INGRESO]    Script Date: 07/01/2013 19:17:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_OBTENER_ORDEN_INGRESO](@ID_ORDEN AS VARCHAR(10))
AS
BEGIN TRANSACTION T_OBTENER_ORDEN_INGRESO
BEGIN TRY
SELECT     dbo.ORDENES.ID_ORDEN, dbo.ORDENES.FECHA_INGRESO_EQUIPO, dbo.ORDENES.FALLA_REPORTADA_CLIENTE, dbo.ORDENES.EQUIPO, 
                      dbo.ORDENES.MODELO_EQUIPO, dbo.ORDENES.SERIE_EQUIPO, dbo.ORDENES.OBSERVACIONES_EQUIPO, dbo.ORDENES.ACCESORIOS_ADICIONALES_EQUIPO, 
                      dbo.PERSONA.APELLIDO_PATERNO + ' ' + dbo.PERSONA.APELLIDO_MATERNO + ' ' + dbo.PERSONA.NOMBRES AS 'CLIENTE', dbo.PERSONA.DNI, dbo.CLIENTE.RUC, 
                      dbo.TIPO_GARANTIA.TIPO_GARANTIA, dbo.TIPO_EQUIPO.TIPO, dbo.ORDENES.COSTO_REPARACION, dbo.MARCA.MARCA, dbo.PERSONA.DIRECCION, 
                      dbo.ESTADO_EQUIPO.ID_ESTADO_EQUIPO, dbo.ESTADO_EQUIPO.ESTADO_EQUIPO,dbo .ORDENES .ESTADO_ORDEN,ORDENES .ID_CLIENTE 
FROM         dbo.ORDENES INNER JOIN
                      dbo.CLIENTE ON dbo.ORDENES.ID_CLIENTE = dbo.CLIENTE.ID_CLIENTE INNER JOIN
                      dbo.PERSONA ON dbo.CLIENTE.ID_PERSONA = dbo.PERSONA.ID_PERSONA INNER JOIN
                      dbo.MARCA ON dbo.ORDENES.ID_MARCA = dbo.MARCA.ID_MARCA INNER JOIN
                      dbo.TIPO_EQUIPO ON dbo.ORDENES.ID_TIPO_EQUIPO = dbo.TIPO_EQUIPO.ID_TIPO_EQUIPO INNER JOIN
                      dbo.TIPO_GARANTIA ON dbo.ORDENES.ID_TIPO_GARANTIA = dbo.TIPO_GARANTIA.ID_TIPO_GARANTIA INNER JOIN
                      dbo.ESTADO_EQUIPO ON dbo.ORDENES.ID_ESTADO_EQUIPO = dbo.ESTADO_EQUIPO.ID_ESTADO_EQUIPO
WHERE     (dbo.ORDENES.ID_ORDEN = @ID_ORDEN)
COMMIT TRANSACTION
END TRY
BEGIN CATCH
ROLLBACK TRANSACTION
END CATCH
GO
/****** Object:  Table [dbo].[REPARACIONES]    Script Date: 07/01/2013 19:17:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[REPARACIONES](
	[ID_REPARACION] [int] IDENTITY(1,1) NOT NULL,
	[ID_ORDEN] [char](10) NULL,
	[ID_EMPLEADO] [char](10) NULL,
	[FECHA_REPARACION] [datetime] NULL,
	[FALLA_REPORTADA_TECNICO] [varchar](300) NULL,
	[SOLUCION_REPORTADA_TECNICO] [varchar](500) NULL,
	[OBSERVACIONES_REPARACION_EQUIPO] [varchar](500) NULL,
	[ESTADO] [int] NULL,
 CONSTRAINT [PK_REPARACIONES] PRIMARY KEY CLUSTERED 
(
	[ID_REPARACION] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[REPARACIONES] ON
INSERT [dbo].[REPARACIONES] ([ID_REPARACION], [ID_ORDEN], [ID_EMPLEADO], [FECHA_REPARACION], [FALLA_REPORTADA_TECNICO], [SOLUCION_REPORTADA_TECNICO], [OBSERVACIONES_REPARACION_EQUIPO], [ESTADO]) VALUES (7, N'ORD-000001', N'EMP-000007', CAST(0x0000A1EE00CB0926 AS DateTime), N'', N'', N'EL CLIENTE NO APROBO EL PRESUPUESTO.', 1)
INSERT [dbo].[REPARACIONES] ([ID_REPARACION], [ID_ORDEN], [ID_EMPLEADO], [FECHA_REPARACION], [FALLA_REPORTADA_TECNICO], [SOLUCION_REPORTADA_TECNICO], [OBSERVACIONES_REPARACION_EQUIPO], [ESTADO]) VALUES (8, N'ORD-000002', N'EMP-000007', CAST(0x0000A1EE00D15B45 AS DateTime), N'FALLA EN EL FLEX 21GG', N'SE PROCEDIO A CAMBIAR EL FLEX DEFECTUOSO POR UNO NUEVO.', N'NINGUNO', 1)
SET IDENTITY_INSERT [dbo].[REPARACIONES] OFF
/****** Object:  StoredProcedure [dbo].[SP_INSERTA_ORDEN]    Script Date: 07/01/2013 19:17:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_INSERTA_ORDEN]
(
@ID_ORDEN AS CHAR(10)OUT,
@S AS CHAR(2)OUT,

@ID_CLIENTE AS CHAR(10),
@FECHA_INGRESO_EQUIPO AS DATETIME,
@FALLA_REPORTADA_CLIENTE AS VARCHAR(200),
@EQUIPO AS VARCHAR(100),
@MODELO_EQUIPO AS VARCHAR(50),
@SERIE_EQUIPO AS VARCHAR(20),
@ID_TIPO_EQUIPO AS CHAR(5),
@ID_MARCA AS CHAR(5),
@OBSERVACIONES_EQUIPO AS VARCHAR(300),
@ACCESORIOS_ADICIONALES_EQUIPO AS VARCHAR(300),
@ID_TIPO_GARANTIA AS CHAR(5),
@ID_EMPLEADO AS CHAR(10),
@COSTO_REPARACION AS MONEY

)
AS
BEGIN TRANSACTION T_INSERTA_ORDEN
	BEGIN TRY
					DECLARE @COD AS INT
						IF (SELECT MAX(CONVERT(INT,SUBSTRING(ID_ORDEN ,5,6))) FROM ORDENES ) IS NOT NULL
							BEGIN 
								SELECT @COD=MAX(CONVERT(INT,SUBSTRING(ID_ORDEN,5,6))) FROM ORDENES  
								SELECT @ID_ORDEN ='ORD-'+ REPLICATE('0',6-DATALENGTH(CONVERT(VARCHAR,@COD +1))) + CONVERT(VARCHAR,@COD +1)
							END
						ELSE
							SELECT @ID_ORDEN='ORD-'+ REPLICATE('0',5)+'1'
							
							INSERT INTO ORDENES(ID_ORDEN 
												,ID_CLIENTE ,
												FECHA_INGRESO_EQUIPO ,
												EQUIPO ,
												MODELO_EQUIPO ,
												FALLA_REPORTADA_CLIENTE,
												SERIE_EQUIPO ,
												ID_TIPO_EQUIPO ,
												ID_MARCA,
												OBSERVACIONES_EQUIPO ,
												ACCESORIOS_ADICIONALES_EQUIPO ,
												ID_TIPO_GARANTIA ,
												ID_ESTADO_EQUIPO ,
												ID_EMPLEADO ,
												ESTADO,COSTO_REPARACION,
												ESTADO_ORDEN
												
												)VALUES(@ID_ORDEN,
														@ID_CLIENTE ,
														@FECHA_INGRESO_EQUIPO ,
														@EQUIPO ,
														@MODELO_EQUIPO ,
														@FALLA_REPORTADA_CLIENTE ,
														@SERIE_EQUIPO ,
														@ID_TIPO_EQUIPO ,
														@ID_MARCA,
														@OBSERVACIONES_EQUIPO,
														@ACCESORIOS_ADICIONALES_EQUIPO ,
														@ID_TIPO_GARANTIA ,
														'ES-01' ,
														@ID_EMPLEADO ,
														1,@COSTO_REPARACION,
														 'ORDEN ABIERTA')
							SELECT @S='SI'
		COMMIT TRANSACTION
				
	END TRY
	BEGIN CATCH
		SELECT @S='NO'
		ROLLBACK TRANSACTION
	END CATCH
GO
/****** Object:  StoredProcedure [dbo].[SP_OBTENER_REPARACION]    Script Date: 07/01/2013 19:17:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_OBTENER_REPARACION](@ID_ORDEN AS VARCHAR(10))
AS
BEGIN TRANSACTION T_OBTENER_REPARACION
BEGIN TRY
SELECT     dbo.REPARACIONES.ID_REPARACION, 
                      dbo.PERSONA.APELLIDO_PATERNO + ' ' + dbo.PERSONA.APELLIDO_MATERNO + ' ' + dbo.PERSONA.NOMBRES AS 'EMPLEADO', dbo.EMPLEADO.ID_EMPLEADO, 
                      dbo.REPARACIONES.FECHA_REPARACION, dbo.REPARACIONES.FALLA_REPORTADA_TECNICO, dbo.REPARACIONES.SOLUCION_REPORTADA_TECNICO, 
                      dbo.REPARACIONES.OBSERVACIONES_REPARACION_EQUIPO, dbo.AREA.AREA
FROM         dbo.PERSONA INNER JOIN
                      dbo.EMPLEADO ON dbo.PERSONA.ID_PERSONA = dbo.EMPLEADO.ID_PERSONA INNER JOIN
                      dbo.REPARACIONES ON dbo.EMPLEADO.ID_EMPLEADO = dbo.REPARACIONES.ID_EMPLEADO INNER JOIN
                      dbo.AREA ON dbo.EMPLEADO.ID_AREA = dbo.AREA.ID_AREA
WHERE     (dbo.REPARACIONES.ID_ORDEN = @ID_ORDEN)
COMMIT TRANSACTION
END TRY
BEGIN CATCH
ROLLBACK TRANSACTION
END CATCH
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERTA_REPARACION]    Script Date: 07/01/2013 19:17:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_INSERTA_REPARACION]
(
@S AS CHAR(2)OUT,

@ID_ORDEN AS CHAR(10),
@ID_EMPLEADO AS CHAR(10),
@FALLA_REPORTADA_TECNICO AS VARCHAR(300),
@SOLUCION_REPORTADA_TECNICO AS VARCHAR(500),
@OBSERVACIONES_REPARACION AS VARCHAR(500),
@ID_ESTADO_EQUIPO AS CHAR(5)
)
AS
BEGIN TRANSACTION T_INSERTA_REPARACION
	BEGIN TRY
				INSERT INTO REPARACIONES(ID_ORDEN,
										ID_EMPLEADO ,
										FECHA_REPARACION ,
										FALLA_REPORTADA_TECNICO ,
										SOLUCION_REPORTADA_TECNICO ,
										OBSERVACIONES_REPARACION_EQUIPO ,
										ESTADO )
										 VALUES(
										@ID_ORDEN ,
										@ID_EMPLEADO  ,
										GETDATE () ,
										@FALLA_REPORTADA_TECNICO  ,
										@SOLUCION_REPORTADA_TECNICO  ,
										@OBSERVACIONES_REPARACION  ,
														1 )
				UPDATE ORDENES SET ID_ESTADO_EQUIPO =@ID_ESTADO_EQUIPO
				WHERE ID_ORDEN =@ID_ORDEN 
							
							SELECT @S='SI'
		COMMIT TRANSACTION
				
	END TRY
	BEGIN CATCH
		SELECT @S='NO'
		ROLLBACK TRANSACTION
	END CATCH
GO
/****** Object:  View [dbo].[V_REPARACION_EQUIPO]    Script Date: 07/01/2013 19:17:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_REPARACION_EQUIPO]
AS
SELECT     dbo.PERSONA.APELLIDO_PATERNO + ' ' + dbo.PERSONA.APELLIDO_MATERNO + ' ' + dbo.PERSONA.NOMBRES AS 'EMPLEADO', dbo.EMPLEADO.ID_EMPLEADO, 
                      dbo.REPARACIONES.FECHA_REPARACION, dbo.REPARACIONES.FALLA_REPORTADA_TECNICO, dbo.REPARACIONES.SOLUCION_REPORTADA_TECNICO, 
                      dbo.REPARACIONES.OBSERVACIONES_REPARACION_EQUIPO, dbo.AREA.AREA, dbo.CARGO.CARGO, dbo.REPARACIONES.ID_ORDEN
FROM         dbo.PERSONA INNER JOIN
                      dbo.EMPLEADO ON dbo.PERSONA.ID_PERSONA = dbo.EMPLEADO.ID_PERSONA INNER JOIN
                      dbo.REPARACIONES ON dbo.EMPLEADO.ID_EMPLEADO = dbo.REPARACIONES.ID_EMPLEADO INNER JOIN
                      dbo.AREA ON dbo.EMPLEADO.ID_AREA = dbo.AREA.ID_AREA INNER JOIN
                      dbo.CARGO ON dbo.EMPLEADO.ID_CARGO = dbo.CARGO.ID_CARGO
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[50] 4[4] 2[23] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "PERSONA"
            Begin Extent = 
               Top = 14
               Left = 595
               Bottom = 238
               Right = 796
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "EMPLEADO"
            Begin Extent = 
               Top = 18
               Left = 370
               Bottom = 173
               Right = 568
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "REPARACIONES"
            Begin Extent = 
               Top = 84
               Left = 49
               Bottom = 275
               Right = 339
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "AREA"
            Begin Extent = 
               Top = 174
               Left = 377
               Bottom = 278
               Right = 575
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "CARGO"
            Begin Extent = 
               Top = 158
               Left = 607
               Bottom = 262
               Right = 805
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 12
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin C' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'V_REPARACION_EQUIPO'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N'olumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'V_REPARACION_EQUIPO'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'V_REPARACION_EQUIPO'
GO
/****** Object:  StoredProcedure [dbo].[SP_FORMATO_INGRESO_EQUIPO]    Script Date: 07/01/2013 19:17:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_FORMATO_INGRESO_EQUIPO](@ID_ORDEN AS CHAR(10))
AS
SELECT     dbo.V_INGRESO_CLIENTE.ID_ORDEN, dbo.V_INGRESO_CLIENTE.CLIENTE, dbo.V_INGRESO_CLIENTE.DNI, dbo.V_INGRESO_CLIENTE.DIRECCION, 
                      dbo.V_INGRESO_CLIENTE.E_MAIL, dbo.V_INGRESO_CLIENTE.FECHA_INGRESO_EQUIPO, dbo.V_INGRESO_CLIENTE.FALLA_REPORTADA_CLIENTE, 
                      dbo.V_INGRESO_CLIENTE.EQUIPO, dbo.V_INGRESO_CLIENTE.MODELO_EQUIPO, dbo.V_INGRESO_CLIENTE.SERIE_EQUIPO, 
                      dbo.V_INGRESO_CLIENTE.TIPO_GARANTIA, dbo.V_INGRESO_CLIENTE.TIPO, dbo.V_INGRESO_CLIENTE.OBSERVACIONES_EQUIPO, 
                      dbo.V_INGRESO_CLIENTE.ACCESORIOS_ADICIONALES_EQUIPO, dbo.V_INGRESO_CLIENTE.ID_EMPLEADO, dbo.V_INGRESO_CLIENTE.TELEFONO, 
                      dbo.V_INGRESO_CLIENTE.CELULAR, dbo.V_INGRESO_CLIENTE.MARCA, dbo.V_INGRESO_CLIENTE.COSTO_REPARACION, dbo.V_INGRESO_EMPLEADO.EMPLEADO, 
                      dbo.V_INGRESO_EMPLEADO.CARGO
FROM         dbo.V_INGRESO_CLIENTE INNER JOIN
                      dbo.V_INGRESO_EMPLEADO ON dbo.V_INGRESO_CLIENTE.ID_ORDEN = dbo.V_INGRESO_EMPLEADO.ID_ORDEN
WHERE     (dbo.V_INGRESO_CLIENTE.ID_ORDEN = @ID_ORDEN)
GO
/****** Object:  StoredProcedure [dbo].[SP_OBTENER_FORMATO_SALIDA]    Script Date: 07/01/2013 19:17:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_OBTENER_FORMATO_SALIDA](@ID_ORDEN AS VARCHAR(10))
AS
BEGIN TRANSACTION T_OBTENER_FORMATO_SALIDA
BEGIN TRY
SELECT     dbo.V_INGRESO_EQUIPO.ID_ORDEN, dbo.V_INGRESO_EQUIPO.FECHA_INGRESO_EQUIPO, dbo.V_INGRESO_EQUIPO.FALLA_REPORTADA_CLIENTE, 
                      dbo.V_INGRESO_EQUIPO.MODELO_EQUIPO, dbo.V_INGRESO_EQUIPO.SERIE_EQUIPO, dbo.V_INGRESO_EQUIPO.OBSERVACIONES_EQUIPO, 
                      dbo.V_INGRESO_EQUIPO.ACCESORIOS_ADICIONALES_EQUIPO, dbo.V_INGRESO_EQUIPO.CLIENTE, dbo.V_INGRESO_EQUIPO.DNI, dbo.V_INGRESO_EQUIPO.RUC, 
                      dbo.V_INGRESO_EQUIPO.TIPO_GARANTIA, dbo.V_INGRESO_EQUIPO.TIPO, dbo.V_INGRESO_EQUIPO.COSTO_REPARACION, dbo.V_INGRESO_EQUIPO.MARCA, 
                      dbo.V_INGRESO_EQUIPO.DIRECCION, dbo.V_REPARACION_EQUIPO.EMPLEADO, dbo.V_REPARACION_EQUIPO.ID_EMPLEADO, 
                      dbo.V_REPARACION_EQUIPO.FECHA_REPARACION, dbo.V_REPARACION_EQUIPO.FALLA_REPORTADA_TECNICO, 
                      dbo.V_REPARACION_EQUIPO.SOLUCION_REPORTADA_TECNICO, dbo.V_REPARACION_EQUIPO.OBSERVACIONES_REPARACION_EQUIPO, 
                      dbo.V_REPARACION_EQUIPO.AREA, dbo.V_REPARACION_EQUIPO.CARGO
FROM         dbo.V_INGRESO_EQUIPO INNER JOIN
                      dbo.V_REPARACION_EQUIPO ON dbo.V_INGRESO_EQUIPO.ID_ORDEN = dbo.V_REPARACION_EQUIPO.ID_ORDEN
WHERE     (dbo.V_INGRESO_EQUIPO.ID_ORDEN = @ID_ORDEN)

COMMIT TRANSACTION
END TRY
BEGIN CATCH
ROLLBACK TRANSACTION
END CATCH
GO
/****** Object:  View [dbo].[V_FORMATO_SALIDA_EQUIPO]    Script Date: 07/01/2013 19:17:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_FORMATO_SALIDA_EQUIPO]
AS
SELECT     dbo.V_INGRESO_EQUIPO.ID_ORDEN, dbo.V_INGRESO_EQUIPO.FECHA_INGRESO_EQUIPO, dbo.V_INGRESO_EQUIPO.FALLA_REPORTADA_CLIENTE, 
                      dbo.V_INGRESO_EQUIPO.MODELO_EQUIPO, dbo.V_INGRESO_EQUIPO.SERIE_EQUIPO, dbo.V_INGRESO_EQUIPO.OBSERVACIONES_EQUIPO, 
                      dbo.V_INGRESO_EQUIPO.ACCESORIOS_ADICIONALES_EQUIPO, dbo.V_INGRESO_EQUIPO.CLIENTE, dbo.V_INGRESO_EQUIPO.DNI, dbo.V_INGRESO_EQUIPO.RUC, 
                      dbo.V_INGRESO_EQUIPO.TIPO_GARANTIA, dbo.V_INGRESO_EQUIPO.TIPO, dbo.V_INGRESO_EQUIPO.COSTO_REPARACION, dbo.V_INGRESO_EQUIPO.MARCA, 
                      dbo.V_INGRESO_EQUIPO.DIRECCION, dbo.V_REPARACION_EQUIPO.EMPLEADO, dbo.V_REPARACION_EQUIPO.ID_EMPLEADO, 
                      dbo.V_REPARACION_EQUIPO.FECHA_REPARACION, dbo.V_REPARACION_EQUIPO.FALLA_REPORTADA_TECNICO, 
                      dbo.V_REPARACION_EQUIPO.SOLUCION_REPORTADA_TECNICO, dbo.V_REPARACION_EQUIPO.OBSERVACIONES_REPARACION_EQUIPO, 
                      dbo.V_REPARACION_EQUIPO.AREA, dbo.V_REPARACION_EQUIPO.CARGO, dbo.V_INGRESO_EQUIPO.ESTADO_EQUIPO, 
                      dbo.V_INGRESO_EQUIPO.ESTADO_ORDEN
FROM         dbo.V_INGRESO_EQUIPO INNER JOIN
                      dbo.V_REPARACION_EQUIPO ON dbo.V_INGRESO_EQUIPO.ID_ORDEN = dbo.V_REPARACION_EQUIPO.ID_ORDEN
WHERE     (dbo.V_INGRESO_EQUIPO.ID_ORDEN = 'ORD-000001')
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[50] 4[4] 2[25] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "V_INGRESO_EQUIPO"
            Begin Extent = 
               Top = 0
               Left = 42
               Bottom = 305
               Right = 316
            End
            DisplayFlags = 280
            TopColumn = 3
         End
         Begin Table = "V_REPARACION_EQUIPO"
            Begin Extent = 
               Top = 6
               Left = 350
               Bottom = 233
               Right = 640
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 26
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'V_FORMATO_SALIDA_EQUIPO'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'V_FORMATO_SALIDA_EQUIPO'
GO
/****** Object:  StoredProcedure [dbo].[SP_FORMATO_SALIDA_EQUIPO]    Script Date: 07/01/2013 19:17:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_FORMATO_SALIDA_EQUIPO](@ID_ORDEN AS VARCHAR(10))
AS
BEGIN TRANSACTION T_FORMATO_SALIDA_EQUIPO
BEGIN TRY
SELECT     dbo.V_INGRESO_EQUIPO.ID_ORDEN, dbo.V_INGRESO_EQUIPO.FECHA_INGRESO_EQUIPO, dbo.V_INGRESO_EQUIPO.FALLA_REPORTADA_CLIENTE, 
                      dbo.V_INGRESO_EQUIPO.MODELO_EQUIPO, dbo.V_INGRESO_EQUIPO.SERIE_EQUIPO, dbo.V_INGRESO_EQUIPO.OBSERVACIONES_EQUIPO, 
                      dbo.V_INGRESO_EQUIPO.ACCESORIOS_ADICIONALES_EQUIPO, dbo.V_INGRESO_EQUIPO.CLIENTE, dbo.V_INGRESO_EQUIPO.DNI, dbo.V_INGRESO_EQUIPO.RUC, 
                      dbo.V_INGRESO_EQUIPO.TIPO_GARANTIA, dbo.V_INGRESO_EQUIPO.TIPO, dbo.V_INGRESO_EQUIPO.COSTO_REPARACION, dbo.V_INGRESO_EQUIPO.MARCA, 
                      dbo.V_INGRESO_EQUIPO.DIRECCION, dbo.V_REPARACION_EQUIPO.EMPLEADO, dbo.V_REPARACION_EQUIPO.ID_EMPLEADO, 
                      dbo.V_REPARACION_EQUIPO.FECHA_REPARACION, dbo.V_REPARACION_EQUIPO.FALLA_REPORTADA_TECNICO, 
                      dbo.V_REPARACION_EQUIPO.SOLUCION_REPORTADA_TECNICO, dbo.V_REPARACION_EQUIPO.OBSERVACIONES_REPARACION_EQUIPO, 
                      dbo.V_REPARACION_EQUIPO.AREA, dbo.V_REPARACION_EQUIPO.CARGO, dbo.V_INGRESO_EQUIPO.ESTADO_EQUIPO, 
                      dbo.V_INGRESO_EQUIPO.ESTADO_ORDEN
FROM         dbo.V_INGRESO_EQUIPO INNER JOIN
                      dbo.V_REPARACION_EQUIPO ON dbo.V_INGRESO_EQUIPO.ID_ORDEN = dbo.V_REPARACION_EQUIPO.ID_ORDEN
WHERE     (dbo.V_INGRESO_EQUIPO.ID_ORDEN = @ID_ORDEN)
COMMIT TRANSACTION
END TRY
BEGIN CATCH
ROLLBACK TRANSACTION
END CATCH
GO
/****** Object:  Check [CHK_PERSONA_VALIDA_APE_MATERNO]    Script Date: 07/01/2013 19:16:16 ******/
ALTER TABLE [dbo].[PERSONA]  WITH CHECK ADD  CONSTRAINT [CHK_PERSONA_VALIDA_APE_MATERNO] CHECK  ((isnumeric([APELLIDO_MATERNO])=(0)))
GO
ALTER TABLE [dbo].[PERSONA] CHECK CONSTRAINT [CHK_PERSONA_VALIDA_APE_MATERNO]
GO
/****** Object:  Check [CHK_PERSONA_VALIDA_APE_PATERNO]    Script Date: 07/01/2013 19:16:16 ******/
ALTER TABLE [dbo].[PERSONA]  WITH CHECK ADD  CONSTRAINT [CHK_PERSONA_VALIDA_APE_PATERNO] CHECK  ((isnumeric([APELLIDO_PATERNO])=(0)))
GO
ALTER TABLE [dbo].[PERSONA] CHECK CONSTRAINT [CHK_PERSONA_VALIDA_APE_PATERNO]
GO
/****** Object:  Check [CHK_PERSONA_VALIDA_DIRECCION]    Script Date: 07/01/2013 19:16:16 ******/
ALTER TABLE [dbo].[PERSONA]  WITH CHECK ADD  CONSTRAINT [CHK_PERSONA_VALIDA_DIRECCION] CHECK  ((isnumeric([DIRECCION])=(0)))
GO
ALTER TABLE [dbo].[PERSONA] CHECK CONSTRAINT [CHK_PERSONA_VALIDA_DIRECCION]
GO
/****** Object:  Check [CHK_PERSONA_VALIDA_DNI]    Script Date: 07/01/2013 19:16:16 ******/
ALTER TABLE [dbo].[PERSONA]  WITH CHECK ADD  CONSTRAINT [CHK_PERSONA_VALIDA_DNI] CHECK  (([DNI] like '[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]'))
GO
ALTER TABLE [dbo].[PERSONA] CHECK CONSTRAINT [CHK_PERSONA_VALIDA_DNI]
GO
/****** Object:  Check [CHK_PERSONA_VALIDA_ESTADO]    Script Date: 07/01/2013 19:16:16 ******/
ALTER TABLE [dbo].[PERSONA]  WITH CHECK ADD  CONSTRAINT [CHK_PERSONA_VALIDA_ESTADO] CHECK  (([ESTADO]>=(0) AND [ESTADO]<=(1)))
GO
ALTER TABLE [dbo].[PERSONA] CHECK CONSTRAINT [CHK_PERSONA_VALIDA_ESTADO]
GO
/****** Object:  Check [CHK_PERSONA_VALIDA_FECHA_NACIMIENTO]    Script Date: 07/01/2013 19:16:16 ******/
ALTER TABLE [dbo].[PERSONA]  WITH CHECK ADD  CONSTRAINT [CHK_PERSONA_VALIDA_FECHA_NACIMIENTO] CHECK  ((isdate([FECHA_NACIMIENTO])=(1) AND [FECHA_NACIMIENTO]<=getdate()))
GO
ALTER TABLE [dbo].[PERSONA] CHECK CONSTRAINT [CHK_PERSONA_VALIDA_FECHA_NACIMIENTO]
GO
/****** Object:  Check [CHK_PERSONA_VALIDA_NOMBRES]    Script Date: 07/01/2013 19:16:16 ******/
ALTER TABLE [dbo].[PERSONA]  WITH CHECK ADD  CONSTRAINT [CHK_PERSONA_VALIDA_NOMBRES] CHECK  ((isnumeric([NOMBRES])=(0)))
GO
ALTER TABLE [dbo].[PERSONA] CHECK CONSTRAINT [CHK_PERSONA_VALIDA_NOMBRES]
GO
/****** Object:  Check [CHK_PERSONA_VALIDA_SEXO]    Script Date: 07/01/2013 19:16:16 ******/
ALTER TABLE [dbo].[PERSONA]  WITH CHECK ADD  CONSTRAINT [CHK_PERSONA_VALIDA_SEXO] CHECK  (([SEXO]>=(0) AND [SEXO]<=(1)))
GO
ALTER TABLE [dbo].[PERSONA] CHECK CONSTRAINT [CHK_PERSONA_VALIDA_SEXO]
GO
/****** Object:  Check [CHK_CARGO_VALIDA_CARGO]    Script Date: 07/01/2013 19:16:16 ******/
ALTER TABLE [dbo].[CARGO]  WITH CHECK ADD  CONSTRAINT [CHK_CARGO_VALIDA_CARGO] CHECK  ((isnumeric([CARGO])=(0)))
GO
ALTER TABLE [dbo].[CARGO] CHECK CONSTRAINT [CHK_CARGO_VALIDA_CARGO]
GO
/****** Object:  Check [CHK_CARGO_VALIDA_ESTADO]    Script Date: 07/01/2013 19:16:16 ******/
ALTER TABLE [dbo].[CARGO]  WITH CHECK ADD  CONSTRAINT [CHK_CARGO_VALIDA_ESTADO] CHECK  (([ESTADO]>=(0) AND [ESTADO]<=(1)))
GO
ALTER TABLE [dbo].[CARGO] CHECK CONSTRAINT [CHK_CARGO_VALIDA_ESTADO]
GO
/****** Object:  Check [CHK_CARGO_VALIDA_ID_CARGO]    Script Date: 07/01/2013 19:16:16 ******/
ALTER TABLE [dbo].[CARGO]  WITH CHECK ADD  CONSTRAINT [CHK_CARGO_VALIDA_ID_CARGO] CHECK  (([ID_CARGO] like '[C][R][-][0-9][0-9]'))
GO
ALTER TABLE [dbo].[CARGO] CHECK CONSTRAINT [CHK_CARGO_VALIDA_ID_CARGO]
GO
/****** Object:  Check [CHK_AREA_VALIDA_AREA]    Script Date: 07/01/2013 19:16:16 ******/
ALTER TABLE [dbo].[AREA]  WITH CHECK ADD  CONSTRAINT [CHK_AREA_VALIDA_AREA] CHECK  ((isnumeric([AREA])=(0)))
GO
ALTER TABLE [dbo].[AREA] CHECK CONSTRAINT [CHK_AREA_VALIDA_AREA]
GO
/****** Object:  Check [CHK_AREA_VALIDA_ESTADO]    Script Date: 07/01/2013 19:16:16 ******/
ALTER TABLE [dbo].[AREA]  WITH CHECK ADD  CONSTRAINT [CHK_AREA_VALIDA_ESTADO] CHECK  (([ESTADO]>=(0) AND [ESTADO]<=(1)))
GO
ALTER TABLE [dbo].[AREA] CHECK CONSTRAINT [CHK_AREA_VALIDA_ESTADO]
GO
/****** Object:  Check [CHK_AREA_VALIDA_ID_AREA]    Script Date: 07/01/2013 19:16:16 ******/
ALTER TABLE [dbo].[AREA]  WITH CHECK ADD  CONSTRAINT [CHK_AREA_VALIDA_ID_AREA] CHECK  (([ID_AREA] like '[A][R][-][0-9][0-9]'))
GO
ALTER TABLE [dbo].[AREA] CHECK CONSTRAINT [CHK_AREA_VALIDA_ID_AREA]
GO
/****** Object:  Check [CHK_EMPLEADO_VALIDA_ID_EMPLEADO]    Script Date: 07/01/2013 19:16:37 ******/
ALTER TABLE [dbo].[EMPLEADO]  WITH CHECK ADD  CONSTRAINT [CHK_EMPLEADO_VALIDA_ID_EMPLEADO] CHECK  (([ID_EMPLEADO] like '[E][M][P][-][0-9][0-9][0-9][0-9][0-9][0-9]'))
GO
ALTER TABLE [dbo].[EMPLEADO] CHECK CONSTRAINT [CHK_EMPLEADO_VALIDA_ID_EMPLEADO]
GO
/****** Object:  Check [CHK_CLIENTE_VALIDA_ID_CLIENTE]    Script Date: 07/01/2013 19:16:37 ******/
ALTER TABLE [dbo].[CLIENTE]  WITH CHECK ADD  CONSTRAINT [CHK_CLIENTE_VALIDA_ID_CLIENTE] CHECK  (([ID_CLIENTE] like '[C][L][I][-][0-9][0-9][0-9][0-9][0-9][0-9]'))
GO
ALTER TABLE [dbo].[CLIENTE] CHECK CONSTRAINT [CHK_CLIENTE_VALIDA_ID_CLIENTE]
GO
/****** Object:  ForeignKey [FK_EMPLEADO_AREA]    Script Date: 07/01/2013 19:16:37 ******/
ALTER TABLE [dbo].[EMPLEADO]  WITH CHECK ADD  CONSTRAINT [FK_EMPLEADO_AREA] FOREIGN KEY([ID_AREA])
REFERENCES [dbo].[AREA] ([ID_AREA])
GO
ALTER TABLE [dbo].[EMPLEADO] CHECK CONSTRAINT [FK_EMPLEADO_AREA]
GO
/****** Object:  ForeignKey [FK_EMPLEADO_CARGO]    Script Date: 07/01/2013 19:16:37 ******/
ALTER TABLE [dbo].[EMPLEADO]  WITH CHECK ADD  CONSTRAINT [FK_EMPLEADO_CARGO] FOREIGN KEY([ID_CARGO])
REFERENCES [dbo].[CARGO] ([ID_CARGO])
GO
ALTER TABLE [dbo].[EMPLEADO] CHECK CONSTRAINT [FK_EMPLEADO_CARGO]
GO
/****** Object:  ForeignKey [FK_EMPLEADO_PERSONA]    Script Date: 07/01/2013 19:16:37 ******/
ALTER TABLE [dbo].[EMPLEADO]  WITH CHECK ADD  CONSTRAINT [FK_EMPLEADO_PERSONA] FOREIGN KEY([ID_PERSONA])
REFERENCES [dbo].[PERSONA] ([ID_PERSONA])
GO
ALTER TABLE [dbo].[EMPLEADO] CHECK CONSTRAINT [FK_EMPLEADO_PERSONA]
GO
/****** Object:  ForeignKey [FK_CLIENTE_PERSONA]    Script Date: 07/01/2013 19:16:37 ******/
ALTER TABLE [dbo].[CLIENTE]  WITH CHECK ADD  CONSTRAINT [FK_CLIENTE_PERSONA] FOREIGN KEY([ID_PERSONA])
REFERENCES [dbo].[PERSONA] ([ID_PERSONA])
GO
ALTER TABLE [dbo].[CLIENTE] CHECK CONSTRAINT [FK_CLIENTE_PERSONA]
GO
/****** Object:  ForeignKey [FK_ORDENES_CLIENTE]    Script Date: 07/01/2013 19:16:37 ******/
ALTER TABLE [dbo].[ORDENES]  WITH CHECK ADD  CONSTRAINT [FK_ORDENES_CLIENTE] FOREIGN KEY([ID_CLIENTE])
REFERENCES [dbo].[CLIENTE] ([ID_CLIENTE])
GO
ALTER TABLE [dbo].[ORDENES] CHECK CONSTRAINT [FK_ORDENES_CLIENTE]
GO
/****** Object:  ForeignKey [FK_ORDENES_EMPLEADO]    Script Date: 07/01/2013 19:16:37 ******/
ALTER TABLE [dbo].[ORDENES]  WITH CHECK ADD  CONSTRAINT [FK_ORDENES_EMPLEADO] FOREIGN KEY([ID_EMPLEADO])
REFERENCES [dbo].[EMPLEADO] ([ID_EMPLEADO])
GO
ALTER TABLE [dbo].[ORDENES] CHECK CONSTRAINT [FK_ORDENES_EMPLEADO]
GO
/****** Object:  ForeignKey [FK_ORDENES_ESTADO_EQUIPO]    Script Date: 07/01/2013 19:16:37 ******/
ALTER TABLE [dbo].[ORDENES]  WITH CHECK ADD  CONSTRAINT [FK_ORDENES_ESTADO_EQUIPO] FOREIGN KEY([ID_ESTADO_EQUIPO])
REFERENCES [dbo].[ESTADO_EQUIPO] ([ID_ESTADO_EQUIPO])
GO
ALTER TABLE [dbo].[ORDENES] CHECK CONSTRAINT [FK_ORDENES_ESTADO_EQUIPO]
GO
/****** Object:  ForeignKey [FK_ORDENES_MARCA]    Script Date: 07/01/2013 19:16:37 ******/
ALTER TABLE [dbo].[ORDENES]  WITH CHECK ADD  CONSTRAINT [FK_ORDENES_MARCA] FOREIGN KEY([ID_MARCA])
REFERENCES [dbo].[MARCA] ([ID_MARCA])
GO
ALTER TABLE [dbo].[ORDENES] CHECK CONSTRAINT [FK_ORDENES_MARCA]
GO
/****** Object:  ForeignKey [FK_ORDENES_TIPO_EQUIPO]    Script Date: 07/01/2013 19:16:37 ******/
ALTER TABLE [dbo].[ORDENES]  WITH CHECK ADD  CONSTRAINT [FK_ORDENES_TIPO_EQUIPO] FOREIGN KEY([ID_TIPO_EQUIPO])
REFERENCES [dbo].[TIPO_EQUIPO] ([ID_TIPO_EQUIPO])
GO
ALTER TABLE [dbo].[ORDENES] CHECK CONSTRAINT [FK_ORDENES_TIPO_EQUIPO]
GO
/****** Object:  ForeignKey [FK_ORDENES_TIPO_GARANTIA]    Script Date: 07/01/2013 19:16:37 ******/
ALTER TABLE [dbo].[ORDENES]  WITH CHECK ADD  CONSTRAINT [FK_ORDENES_TIPO_GARANTIA] FOREIGN KEY([ID_TIPO_GARANTIA])
REFERENCES [dbo].[TIPO_GARANTIA] ([ID_TIPO_GARANTIA])
GO
ALTER TABLE [dbo].[ORDENES] CHECK CONSTRAINT [FK_ORDENES_TIPO_GARANTIA]
GO
/****** Object:  ForeignKey [FK_REPARACIONES_EMPLEADO]    Script Date: 07/01/2013 19:17:11 ******/
ALTER TABLE [dbo].[REPARACIONES]  WITH CHECK ADD  CONSTRAINT [FK_REPARACIONES_EMPLEADO] FOREIGN KEY([ID_EMPLEADO])
REFERENCES [dbo].[EMPLEADO] ([ID_EMPLEADO])
GO
ALTER TABLE [dbo].[REPARACIONES] CHECK CONSTRAINT [FK_REPARACIONES_EMPLEADO]
GO
/****** Object:  ForeignKey [FK_REPARACIONES_ORDENES]    Script Date: 07/01/2013 19:17:11 ******/
ALTER TABLE [dbo].[REPARACIONES]  WITH CHECK ADD  CONSTRAINT [FK_REPARACIONES_ORDENES] FOREIGN KEY([ID_ORDEN])
REFERENCES [dbo].[ORDENES] ([ID_ORDEN])
GO
ALTER TABLE [dbo].[REPARACIONES] CHECK CONSTRAINT [FK_REPARACIONES_ORDENES]
GO
